body {
    background-color: #121212ce;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    display: flex;
}


.header-wrapper {
    background-color: black;
    height: 88px;
    width: 100%;
    font-size: 1.5em;
    display: grid;
    justify-content:  space-between;
    align-items: center;
    flex-direction: row;    
    grid-template-rows: 3fr;

}

.main-body > {
    display: flex;
    
}

main-body > {
    display: grid;
}