body {
    background-color: #121212ce;
    margin: 0px;
    padding: 0px;
    color: white;
    text-decoration: none;
    font-size: 1.25em;
    display: flex;
    grid-template-rows: 1fr;
}

.header-wrapper {
    background-color: black;
    height: 88px;
    width: 100%;
    font-size: 1.5em;
    display: grid;
    justify-content:  space-between;
    align-items: center;
    flex-direction: row;    


}

.main-section > {
    display: flex;
    
}

main-section > .main-body {
    display: grid;

}