/* Header Section */
body {
    background-color: #121212ce;
    margin: 0px;
    padding: 0px;
    color: white;
}

.header-wrapper {
    background-color: black;
    display: flex;
    justify-content: space-around;
    margin-left: -200px;
}

.header-wrapper > .left-column {
    background-color: rgb(0, 0, 0);

}

.header-wrapper > .center-column {
    display: flex;
    flex-direction: column;
}

.header-wrapper > .center-column > .navlink2 {
    display: flex;
}

.navlink2 h4 {
    padding-right: 10px;
}

.header-wrapper > .center-column h3 {
    align-items: center;
    color: rgb(230, 199, 29);
}

.header-wrapper > .right-column {
    display: flex;
    justify-content: flex-start;

}

.header-wrapper > .right-column > .btn1 {
    background-color: grey;
    padding: 17px;
}

.header-wrapper > .right-column > .btn1 a {
    text-decoration: none;
    color: white;

}

.header-wrapper > .right-column > .btn2 {
    background-color: grey;
    padding: 17px;
}

.header-wrapper > .right-column > .btn2 a {
    text-decoration: none;
    color: white;

}
.header-wrapper > .right-column > .btn3 {
    background-color: grey;
    padding: 17px;
}

.header-wrapper > .right-column > .btn3 a {
    text-decoration: none;
    color: white;

}



.header-wrapper > .right-column > .search-button {
    background-color: black;
    font-size: 2em;
    color: grey;
}






/*  Main Body Section */

.main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 30px;
}

.main-section > .main-body_text {
    display: flex;
    flex-direction: column;
}

.main-section > .demo-image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
     
}

.main-section > .demo-image > h3 {
    align-self: center;
}

.main-section > .main-body_text > .btn1 {
    padding: 17px;
    background-color: green;
    color: black;

}

.main-section > .main-body_text > .btn2 {
    padding: 17px;
    background-color: black;



}

/*  Footer Section */

.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.212);
    color: white;
    align-items: center;
    margin-top: 20px
}

.footer-wrapper a {
    color: white;
    text-decoration: none;
    /* border: 2px solid grey; */
    /* padding: 17px 81px 17px 80px;  */
}

.footer-wrapper > .footer-nav1 {
    border: 3px solid grey;
    padding: 15px;

}

.footer-wrapper > .footer-nav2 {
    border: 3px solid grey;
    padding: 15px;

}

.footer-wrapper > .footer-nav3 {
    border: 3px solid grey;
    padding: 15px;

}

.footer-wrapper > .footer-nav4 {
    border: 3px solid grey;
    padding: 15px;

}